.menuItem{
    
}
.menuItem:hover{
    cursor: pointer;
}
.saveButton{
    font-family: "Regular";
    height: 27px;
    width: 94px;
    border-radius:8px;
    border: 1px solid transparent;
    outline:0;
    margin-top: 25px;
    background-color:rgb(110,5,134,0.9);
    font-size:16px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Regular";
    height: 27px;
    width: 94px;
    border-radius:8px;
    border: 1px solid transparent;
    outline:0;
    margin-top: 25px;
    background-color:rgb(110,5,134,0.9);
    font-size:16px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.show{
    display: none;
}
